// Theme
// ============================================================
$body-font-family := 'Roboto', sans-serif
$font-size-root := 14px
$line-height-root := 1.5

@import '~vuetify/src/stylus/main'    

.v-bottom-nav
  .v-btn
    font-weight: 400 !important
    height: 100% !important
    margin: 0 !important
    max-width: 25vw !important
    min-width: 60px !important
    padding: 8px 12px 10px !important

.container.fluid {
  max-width: 100% !important;
  padding-top: 48px !important;
}

.disable_pn {
  pointer-events: none;
  text-decoration:none; 
  color:inherit; 
}

.main_color {
  background-color: #4A87D3;
}