mobile/node_modules/
mobile/platforms/android/
mobile/plugins/
mobile/platforms/
mobile/www/
*.bin
*.bin
service/BSMService/UdpServer/obj/
service/BSMService/BSM.DataServer/obj/
service/BSMService/BSM.DataServer/bin/
service/BSMService/.vs/
service/BSMService/BSM.Common/obj/
service/BSMService/BSM.Common/bin/
