<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.fly.basestation.monitor" id="com.fly.basestation.monitor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="基站">基站监控</name>
    <description>
        本APP用来检测基站的环境数据，包括倾斜角度，温湿度，消防火情等，并推送报警消息
    </description>
    <author email="support@fly.com" href="http://www.fly1992.com/">
        Leo Liang
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="/res/icon/android/cell-tower-36.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="/res/icon/android/cell-tower-36.png" />
        <icon density="mdpi" src="/res/icon/android/cell-tower-48.png" />
        <icon density="hdpi" src="/res/icon/android/cell-tower-72.png" />
        <icon density="xhdpi" src="/res/icon/android/cell-tower-96.png" />
        <preference name="android-targetSdkVersion" value="27" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="KeepRunning" value="true" />
        <preference name="LoadUrlTimeoutValue" value="30000" />
        <preference name="LogLevel" value="DEBUG" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="AppendUserAgent" value="CordovaAndroid" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="AppendUserAgent" value="CordovaiOS" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.4" />
</widget>
