<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fly.basestation.monitor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BaseStationMonitor</name>
    <description>
        本APP用来检测基站的环境数据，包括倾斜角度，温湿度，消防火情等，并推送报警消息
    </description>
    <author email="support@fly.com" href="http://www.fly.com">
        Leo Liang
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="~7.1.4" />
</widget>
